VITE_API_BASE=https://exe101-project.onrender.com
VITE_GOOGLE_CLIENT_ID=817734182215-ijh0r2a1fbcsm5u5nams9e92obh5cmck.apps.googleusercontent.com
VITE_GOONG_MAPTILES_KEY=zkJufOSOzrjhp0HuujejyHhJ2S3G2O6SkK56wiSF

# Toggle run local backend (true) or deploy link (false)
VITE_USE_LOCAL_BACKEND=true

# AI Service API
VITE_AI_URL=https://maphome-chatbot.vercel.app
# VITE_LOCAL_AI_URL=http://localhost:8000
VITE_MAPHOME_AI_API_KEY=gắn_mật_khẩu_bảo_vệ_AI_của_bạn_vào_đây