GROQ_API_KEY=gắn_api_key_groq_vào_đây
MONGO_URI=copy_link_mongo_URI_ở_backend
GEMINI_API_KEY_1=gắn_api_key_gemini_1_vào_đây
GEMINI_API_KEY_2=gắn_api_key_gemini_2_vào_đây
OPENROUTER_API_KEY=gắn_api_key_của_bạn_vào_đây
MAPHOME_AI_API_KEY=tự_tạo_một_khóa_bất_kỳ_vd_123456